@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.logo-div {
  margin: 0px 0px 65px;
}

.box-wrap {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.actual-box {
  width: 480px;
  height: auto;
  padding: 40px;
  position: relative;
  background-color: rgb(23,24,29);
  border-radius: 4px;
  border: 1px solid rgba(255,254,241,0.1);
  backdrop-filter: blur(100px);
}

.box-anim {
  z-index: -200;
  position: absolute;
  inset: -20px;
  margin: auto;
  background: linear-gradient(140.5deg, rgba(221, 194, 165, 0.5) 1.28%, rgba(213, 160, 124, 0.5) 20.05%, rgba(166, 93, 94, 0.5) 54.11%, rgba(84, 66, 67, 0.5) 100.02%);
  filter: blur(100px);
  animation: 6 linear 0s infinite normal none running box-anim;
}